

{{ form_start(form) }}
<div>{{ form_errors(form) }}</div>

<div>
	{{ form_label(form.title, 'Podaj Tytul, mordo') }}
</div>
<div>
	{{ form_widget(form.title, {'attr': {'style': 'color: red'}}) }}
</div>

<div>
	{{ form_label(form.text, 'Wpisz jakies teksciwo, mordo') }}
</div>
<div>
	{{ form_widget(form.text) }}
</div>
<div>
	<button type="subbmit">DodajTo</button>
</div>
{{ form_end(form) }}
